.icon {
  flex: none;
  inline-size: 1em;
  block-size: 1em;
  stroke-width: var(--icon-stroke, 1.5);
}

.icon[data-size='xs'] {
  inline-size: 0.75rem;
  block-size: 0.75rem;
}
.icon[data-size='sm'] {
  inline-size: 1rem;
  block-size: 1rem;
}
.icon[data-size='md'] {
  inline-size: 1.25rem;
  block-size: 1.25rem;
}
.icon[data-size='lg'] {
  inline-size: 1.5rem;
  block-size: 1.5rem;
}
